#nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #019e87;
    color: #e8fdff;
    padding: 0 2em;
    z-index: 1;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
}

#nav-bar .header {
    padding-left: 10px;
    font-size: 2em;
    position: absolute;
    height: 80px;
    line-height: 80px;
    float: left;
}

#compose {
    float: right;
    border: 1px solid black;
    padding: 15px;
    line-height: 75%;
    border-radius: 10px;
    font-size: 25px;
    margin: 10px 20px;
    background-color: #ddfcff;
}

#compose .fa{
    float: left;
}

#compose:hover {
    color: #019e87;
    background-color:white;
}

