section.new-tweet{
    margin: auto;
    margin: 30px;
    padding: 1em;
    background-color: #eee;
    border-radius: 10px;
    display: inherit;
    border: 1.5px solid #A6A49C;
}

textarea[placeholder]{
    width: 100%;
    overflow: auto;
    padding: 5px;
    font-size: 1em;
}

textarea {
    border-bottom: black solid 1px;
    margin: 5px 2px;
    font-size: 1.5em;
    
}

h2 {
    border-bottom: black solid 1px;
    margin: 3px;
    font-size: 1.5em bold;
}

span.counter {
    float: right;
    padding: 20px 0 0px 0;
}

input[value] {
    margin: 0 10px;
    padding: 5px 10px;
    border: #A6A49C solid 0.5px;
    background-color: #00C087;
}

#error1 #error2  {
    visibility: hidden;
}
